<h1><%= @artist.name %></h1>
<div>
  <img src=<%= @artist.image %>>
  <br>
  <p><%= @artist.description %></p>

</div>
<% if can? :manage, :all %>
<div>
<%= link_to("Edit #{@artist.name}", edit_artist_path(@artist)) %><br>
<%= button_to("Delete #{@artist.name} ?", artist_path(@artist), method: :delete, data: {confirm: 'Delete #{@artist.name}? Are you sure?!'}) %>
</div>
<% end %>