<h1>Home Page</h1>
<div class="grid grid-10">
<p><%= @gig_1.name %></p>
<img src="<%= @gig_1.image %>" width=150px, height=150px>
</div>
<div class="grid grid-10">
<p><%= @gig_2.name %></p>
<img src="<%= @gig_2.image %>" width=150px, height=150px>
</div>
<div class="grid grid-10">
<p><%= @gig_3.name %></p>
<img src="<%= @gig_3.image %>" width=150px, height=150px>
</div>


