<h1>Home Page</h1>
<main class="right-bar">
<div class="grid grid-6 go-right">
    <p><%= @gig_1.name %></p>
    <img class="front-page" src="<%= @gig_1.image %>">
  </div>
  <div class="grid grid-6 go-left">
    <p><%= @gig_2.name %></p>
    <img class="front-page" src="<%= @gig_2.image %>">
  </div>
  <div class="grid grid-6 go-left">
    <p><%= @gig_3.name %></p>
    <img class="front-page" src="<%= @gig_3.image %>">
  </div>
  <div class="grid grid-6 go-right">
    <p><%= @gig_4.name %></p>
    <img class="front-page" src="<%= @gig_4.image %>">
  </div>
</main>
<div>
  <h2>Book Your Gig Tickets With Us</h2>
  <p>Lorem ipsum dolor sit amet, id vel oratio putant tibique, ei cum munere percipitur. Vel modo consectetuer ex, at electram evertitur vim, vis ei errem altera. Pro aeque tempor malorum et, postea noster adipisci et eos. Ad qui latine aliquip antiopam. An has congue mollis, erant alienum voluptatibus mel no.</p>

</div>

