<h1><%= @venue.name %></h1>
<div>
  <img src=<%= @venue.image %>>
  <br>
  <p><%= @venue.description %></p>
  <br>
  <h5>location:</h5><p><%= @venue.location %></p>

</div>
<% if can? :manage, :all %>
<div>
<%= link_to("Edit #{@venue.name}", edit_venue_path(@venue)) %><br>
<%= button_to("Delete #{@venue.name} ?", venue_path(@venue), method: :delete, data: {confirm: 'Delete #{@venue.name}? Are you sure?!'}) %>
</div>
<% end %>