<h1><%= @gig.name %></h1>
<div>
  <p><%= @gig.genre.name %></p>
  <br>
  <p><%= @gig.image %></p>
  <br>
  <p><%= @gig.description %></p>
  <br>
  <p><%= @gig.venue.name %></p>
  <br>
  <p><%= @gig.capacity %></p>
  <br>
  <p><%= @gig.start_time.strftime("%A %B %-d, %Y") %></p>
  <br>
  <p><%= @gig.start_time.strftime("%H:%M") %></p>
  <br>
  <p><%= @gig.end_time.strftime("%H:%M") %></p>
</div>

<div>

  <%= button_to("Book a ticket for #{@gig.name}", gig_bookings_path(@gig), method: :post) %>

<% if can? :manage, @gig %>
<div>
<%= link_to("Edit #{@gig.name}", edit_gig_path(@gig)) %><br>
<%= button_to("Delete #{@gig.name} ?", gig_path(@gig), method: :delete, data: {confirm: 'Delete #{@gig.name}? Are you sure?!'}) %>
</div>
<% end %>