<h1><%= @gig.name %></h1>
<div>
  <h4>Genre: <%= @gig.genre.name.capitalize %></h3>
  
  <br>
  <%= link_to( image_tag(@gig.image, alt:"No image", class: "gig-img"), artist_path(@gig.artist)) %>
  <br>
  <p><%= @gig.description %></p>
  <br>
  <h5>Venue</h5>
  <p><%= @gig.venue.name %></p>
  <img src=<%= @gig.venue.image %> class="ven-img">
  <br>
  <h5>Artist</h5>
  <p><%= @gig.artist.name %></p>
  <img src=<%= @gig.artist.image %> class="ven-img">
  <br>
  <h5>Gig Capacity</h5>
  <p><%= @gig.capacity %></p>
  <br>
  <h5>Tickets Remaining</h5>
  <p><%= @gig.tickets_left %></p>
  <br>
  <h5>Performance Date</h5>
  <p><%= @gig.start_time.strftime("%A %B %-d, %Y") %></p>
  <br>
  <h5>Perfomance Starts</h5>
  <p><%= @gig.start_time.strftime("%H:%M") %></p>
  <br>
  <h5>Performance Ends</h5>
  <p><%= @gig.end_time.strftime("%H:%M") %></p>
</div>

<div>
<% if @gig.tickets_left > 0 %>
  <%= button_to("Book a ticket for #{@gig.name}", new_gig_booking_path(@gig), method: :get) %>
<% else %>
  <h3>"There are no more tickets available"</h3>
<% end %>
<% if can? :manage, @gig %>
<div>
<%= link_to("Edit #{@gig.name}", edit_gig_path(@gig)) %><br>
<%= button_to("Delete #{@gig.name} ?", gig_path(@gig), method: :delete, data: {confirm: 'Delete #{@gig.name}? Are you sure?!'}) %>
</div>
<% end %>