<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>GigBookerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <nav>
    <div class="go-left">
      <h1>Gig Booker</h1>
    </div>
    <div class="search">
      <%= form_tag(gigs_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Gigs" %>
          <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
    <div class="go-right">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/venues">Venues</a></li>
        <% if can? :manage, :all %>
          <li><a href="/genres">Genres</a></li>
        <% end %>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/bookings">Bookings</a></li>
        <!-- <li><a href="/users">Users</a></li> -->
      </ul>
    </div>  
  </nav>
</header>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user %>
    <%= current_user.name %><%= ", #{current_user.role.capitalize}" if current_user.role %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <%= link_to 'Edit Account', edit_user_registration_path %>
  <% else %>
    <%= link_to 'Log In', new_user_session_path %>
    <%= link_to 'Sign Up', new_user_registration_path %>
  <% end %>

  <%= yield %>

</body>
</html>
