<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>GigBookerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <nav>
    <div class="go-left">
      <h1>Gig Booker</h1>
    </div>
    <div class="go-right">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </div>  
  </nav>
</header>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
